@import '../../utils/vars';
@import '../../utils/mixins';

.paginationSelector {
  &__info {
    margin-bottom: 4px;

    color: $secondaryColor;

    @include bodyText;
  }

  &__field {
    width: 136px;
    height: 40px;

    padding: 10px;

    border-radius: 8px;
    border: 1px solid $iconsAndPlaceholders;

    outline: none;
  }

  @include onDesktop {
    width: 128px;
  }
}
