@import '../../utils/_vars';
@import '../../utils/mixins';
@import '../../utils//reset';

.catalog-layout{
  padding-bottom: 8px;

  &__selectors {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__selector-text {
    @include bodyText;
  }
  
  &__total {
    color: $secondaryColor;
    @include bodyText;
  }

  &__error {
    margin: auto;
    text-align: center;
  }
}