@import '../../utils/_vars.scss';
@import '../../utils/_mixins.scss';
@import '../../utils/normalize.scss';
@import '../../utils/reset.scss';

.favorites-page {
  position: relative;
  padding-top: 24px;
  display: block;
  
  &--empty {
    height: 80vh;

    @include onTablet {
      height: $page-height-desk;
    }
  }

  &__container {
    @include sectionContainer;
  }

  &__title {
    @include h1_Mobile;

    @include onTablet {
      @include h1_DestopAndTablet
    }
  }

  &__total {
    font-size: 14px;
    font-weight: 600;
    color: $secondaryColor;
    margin-top: 8px;
  }

  &__empty-favourites-wrapper {
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  &__empty-favourites-message {
    padding:  50px 0 ;
    
    text-align: center;
    color: $secondaryColor;
    @include h4_Mobile;

    @include onTablet {
      @include h4_DestopAndTablet;
    }
  }

  &__empty-favourites-image {
    width: 200px;

    margin: 0 auto;

    @include onTablet {
      width: 20%;
    }
  }
}