@import '../../utils/vars';
@import '../../utils/mixins';

.product-list {
  display: grid;
  grid-template-columns: 1fr;

  padding: 24px 16px;

  column-gap: 16px;
  row-gap: 40px;


  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 24px 40px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    padding: 24px 32px 40px;
  }
}
