@import '../../utils/vars';
@import '../../utils/mixins';

.product-list {
  display: grid;
  grid-template-columns: 1fr;

  column-gap: 16px;
  row-gap: 40px;

  max-width: 1200px;
  justify-content: center;
  place-items: center;

  grid-template-columns: repeat(1, 1fr);

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 0 40px;
  }

  @include onTabletGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    padding: 24px 0 40px;
  }
}
