@import '../../utils/_vars.scss';
@import '../../utils/_mixins.scss';
@import '../../utils/normalize.scss';
@import '../../utils/reset.scss';

.products-page {
  position: relative;
  padding-top: 24px;
  display: block;

  &__container {
    @include sectionContainer;
  }

  &__title {
    @include h1_Mobile;

    @include onTablet {
      @include h1_DestopAndTablet
    }
  }

  &__catalog{
    padding-bottom: 8px;
  }
  
  &__catalog-selectors {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;

    @include onTablet {
      margin-top: 40px;
    }
  }
  
  &__catalog-selector-text {
    @include bodyText;
  }
  
  &__catalog-total {
    color: $secondaryColor;
    @include bodyText;
  }

  &__error {
    margin: auto;
    text-align: center;
  }
}