@import '../../utils/_vars.scss';
@import '../../utils/_mixins.scss';
@import '../../utils/normalize.scss';
@import '../../utils/reset.scss';

.products-page {
  position: relative;
  padding-top: 24px;
  display: block;

  &__container {
    @include sectionContainer;
  }

  &__title {
    margin-bottom: 8px;
    
    @include h1_Mobile;

    @include onTablet {
      @include h1_DestopAndTablet;
    }
  }

  &__catalog {
    padding-bottom: 8px;
  }

  &__catalog-selectors {
    max-width: 1200px;

    margin: 0 auto;
    margin-top: 32px;

    display: grid;
    grid-template-columns: 136px 136px;
    justify-content: center;
    column-gap: 16px;

    @include onTablet {
      margin-top: 40px;
      grid-template-columns: 176px 176px auto;
      align-items: last baseline;
      justify-content: stretch;
    }
  }

  &__search {
    max-width: 500px;
    
    @include onMobile {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__catalog-total {
    color: $secondaryColor;
    @include bodyText;
  }

  &__error {
    margin: auto;
    text-align: center;
  }
}
