@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.category {

  &__photo-container {
    margin: auto;
    margin-bottom: 24px;

    background-color: #6d6474;
    border-radius: 8px;

    @media (width: 1200px) {
      border-radius: 0;
    }

  }

  &__photo {

    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: bottom right;
    transition: 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    @include h4_DestopAndTablet;
    text-decoration: none;
  }

  &__quantity {
    margin-top: 4px;

    color: $secondaryColor;

    font-size: 14px;
    font-weight: 600;
  }
}