@import '../../../utils/vars';
@import '../../../utils/mixins';

.selector {
  &__info {
    margin-bottom: 4px;

    color: $secondaryColor;

    @include smallText;
  }

  &__field {
    width: 136px;
    height: 40px;

    padding: 10px;

    border-radius: 8px;
    border: 1px solid $iconsAndPlaceholders;

    outline: none;
  }

  @include onDesktop {
    width: 128px;
  }

  &__arrow-select {
    appearance: none;
    padding: 8px;
    background-color: $backgroundColor;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  
    background-image: url('../.././../icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    background-position: calc(100% - 12px) center;
  }
  
}

.big {
  font-size: 100px;
}