@import '../../utils/vars';
@import '../../utils/mixins';

.cart-page {
  margin: 0 auto;
  max-width: 1200px;

  &--empty {
    height: $page-height-mobile;

    @include onTablet {
      height: $page-height-desk;
    }
  }

  &__container {
    padding-top: 24px;
    @include sectionContainer;

    @include onTablet {
      padding-top: 40px; 
    }
  }

  &__title {
    margin: 24px 0 32px;

    color: $primaryColor;

    @include h1_Mobile;

    @include onTablet {
      margin: 16px 0 32px;
      @include h1_DestopAndTablet;
    }
  }

  &__content {
    @include onDesktop {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }

  &__cart-list {
    margin-bottom: 32px;
  }

  &__cart-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__empty-cart-wrapper {
    display: flex;
    flex-direction: column;

  }

  &__empty-cart-message {
    padding: 20px 50px 50px 20px;
    
    text-align: center;
    color: $secondaryColor;
    @include h4_Mobile;

    @include onTablet {
      @include h4_DestopAndTablet;
    }
  }

  &__empty-cart-message-image {
    width: 300px;

    margin: 0 auto;

    @include onTablet {
      width: 50%;
    }
  }
}
