@mixin onMobile {
  @media (max-width: $mobileScreen) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktopScreen) {
    @content;
  }
}
@mixin onTabletGrid {
  @media (min-width: $tabletGridScreen) {
    @content
  }
}

@mixin onTablet {
  @media (min-width: $tabletScreen) {
    @content;
  }
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin h1_DestopAndTablet {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
}

@mixin h2_DestopAndTablet {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
}

@mixin h3_DestopAndTablet {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}

@mixin h4_DestopAndTablet {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin uppercase {
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

@mixin buttons {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

@mixin bodyText {
  padding-top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

@mixin smallText {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin counterText {
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color:  #fff;
  line-height: 14px;
}

@mixin h1_Mobile {
  font-size: 32px;
  line-height: 41;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
}

@mixin h2_Mobile {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}

@mixin h3_Mobile {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin h4_Mobile {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin sectionContainer {
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;

  @include onTablet {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
  }

  @include onDesktop {
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;

    padding-bottom: 80px;
  }
}
