$tabletScreen: 640px;
$desktopScreen: 1200px;

$backgroundColor: #FFF;
$secondaryColor: #89939A;
$primaryColor: #0F0F11;
$elementsColor: #E2E6E9;
$iconsAndPlaceholders: #B4BDC3;

$transitionDuration: 0.3s;