$mobileScreen: 639px;
$tabletScreen: 640px;
$desktopScreen: 1200px;

$backgroundColor: #fff;
$secondaryColor: #89939a;
$elementsColor: #e2e6e9;
$primaryColor: #0f0f11;
$elementsColor: #e2e6e9;
$iconsColor: #b4bdc3;
$buttonColorSecondary: #f4ba47;
$accentColor: #4219D0;

$transitionDuration: 0.3s;

/*HEADER*/
$menu-height: calc(100vh - 49px);
$activeLinkColor: #313237;
