$tabletScreen: 640px;
$desktopScreen: 1200px;

$backgroundColor: #fff;
$secondaryColor: #89939a;
$primaryColor: #0f0f11;
$elementsColor: #e2e6e9;
$accentColor: #4219D0;
$iconsAndPlaceholders: #B4BDC3;


$transitionDuration: 0.3s;

/*HEADER*/
$menu-height: calc(100vh - 49px);
$activeLinkColor: #313237;
