@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
