@import '../../utils/_vars.scss';
@import '../../utils/mixins';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 8px; 

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }

  &__home {
    height: 16px;
    width: 16px;
    background-image: url("../../icons/Home.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__arrow {
    height: 16px;
    width: 16px;
    background-image: url('../../icons/Chevron (Arrow Right).svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__path {
    @include smallText;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    
    color: $primaryColor;
    transform: translateY(1px);

    &--light {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;

      color: $secondaryColor;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
}