@import '../../utils/_vars.scss';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 8px; 

  &__home {
    height: 16px;
    width: 16px;
    background-image: url("../../icons/Home.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__arrow {
    height: 16px;
    width: 16px;
    background-image: url('../../icons/Chevron (Arrow Right).svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__path {
    font-size: 12px;
    font-weight: 600px;
    color: $secondaryColor;
    transform: translateY(1px);
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
}