@import '../../utils/_vars.scss';
@import '../../utils/_mixins.scss';


.product-techSpecs {

  &__article {
    padding-top: 30px;
    border-top: 1px solid $elementsColor;

    @include onTablet {
      padding-top: 25px;
    }

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin-bottom: 16px;
    color: $primaryColor;
    @include h4_DestopAndTablet;

    @include onTablet {
      @include h3_DestopAndTablet;
    }
  }

  &__wrapper {
   display: flex;
   justify-content: space-between;
  }

  &__value {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;

    color: $primaryColor;
  }

  &__specs-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    vertical-align: baseline;
    color: $secondaryColor;
  }
}